In [32]:
# Load Pandas library
import pandas as pd

#Load numpy library
import numpy as np

#import MatPlotLib
import matplotlib as mpl 

#Import PyPlot in MatPlotLib
import matplotlib.pyplot as plt 

#Import SciKitLearn decomposition PCA library
from sklearn.decomposition import PCA

#Import SciKitLearn dataset 
from sklearn import datasets as ds

#Create Russian Data Frame using Read_CSV
dfRussianData = pd.read_csv('/users/cmirwin/desktop/Smu Data Sets/Data Mining/RussianData/Train.csv') # read in the csv file

In [33]:
#Show headers and first 10 records of the data set 
dfRussianData.head(10)

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452
5,6,2011-09-06,67,46.0,14.0,NaN,NaN,NaN,NaN,NaN,...,62,14,1,53,78,1,20,113,17,9100000
6,7,2011-09-08,25,14.0,10.0,NaN,NaN,NaN,NaN,NaN,...,81,16,3,38,80,1,27,127,8,5500000
7,8,2011-09-09,44,44.0,5.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,11,18,1,0,47,4,2000000
8,9,2011-09-10,42,27.0,5.0,NaN,NaN,NaN,NaN,NaN,...,19,8,1,18,34,1,3,85,11,5300000
9,10,2011-09-13,36,21.0,9.0,NaN,NaN,NaN,NaN,NaN,...,19,13,0,10,20,1,3,67,1,2000000

In [13]:
#Get specific column data types
#This is only the first 15 columns as the data set contains 292 total columns
#dfRussianData.info(15)

#Look to see if there are any missing values in data frame
dfRussianData.isnull().values.any()

True

In [14]:
#Find all columns with missing data 
MissingRussianData = dfRussianData.isnull().sum()

#Remove all Columns with a value equal to 0 and short data
MissingRussianData = MissingRussianData.drop(MissingRussianData[MissingRussianData == 0].index).sort_values(ascending=False)

#Remote Null values that are created by import
df = dfRussianData.replace(to_replace='nan',value= np.nan) 

#Descriptive stats for Russian Dat set
df.describe() 

#We can see that a number of the data columns have NaN values that were assigned during import
#we choose to replace those values with the median values for the variable.

,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,30471.000000,24088.000000,30304.000000,20899.000000,20899.000000,1.686600e+04,20899.000000,20899.000000,16912.000000,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,15237.917397,54.214269,34.403271,7.670803,12.558974,1.827121,3.068057e+03,1.909804,6.399301,2.107025,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,8796.501536,38.031487,52.285733,5.319989,6.756550,1.481154,1.543878e+05,0.851805,28.265979,0.880148,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,7620.500000,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,15238.000000,49.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,22855.500000,63.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,30473.000000,5326.000000,7478.000000,77.000000,117.000000,6.000000,2.005201e+07,19.000000,2014.000000,33.000000,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08

In [34]:
# and fill in the null values for the columns that have missing values 
dfRussianDataUpdated = df.fillna(df.median()) 

#Show top 15 column data types
dfRussianDataUpdated.describe()

,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04,30471.000000,30471.000000,30471.000000,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,15237.917397,54.214269,33.480883,7.664386,12.383381,1.567293,2.581804e+03,1.938138,6.273867,2.059401,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,8796.501536,38.031487,46.522251,5.306094,5.601542,1.285318,1.148616e+05,0.706675,23.409589,0.657852,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,7620.500000,38.000000,22.000000,3.000000,9.000000,1.000000,1.976000e+03,2.000000,5.000000,2.000000,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,15238.000000,49.000000,30.000000,6.500000,12.000000,1.000000,1.979000e+03,2.000000,6.000000,2.000000,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,22855.500000,63.000000,38.000000,11.000000,16.000000,1.000000,1.983000e+03,2.000000,8.000000,2.000000,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,30473.000000,5326.000000,7478.000000,77.000000,117.000000,6.000000,2.005201e+07,19.000000,2014.000000,33.000000,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08

In [77]:
#Find the median value from the original data set 
buildYearMedian = df['build_year'].median()

#Find the number of homes that have a build year of 0 or a value greater than 2018
dfRussianDataUpdated[(dfRussianDataUpdated['build_year'] == 0) | (dfRussianDataUpdated['build_year'] > 2018)]

dfRussianDataUpdated.loc[(dfRussianDataUpdated['build_year'] == 0)] = buildYearMedian

dfRussianDataUpdated.loc[(dfRussianDataUpdated['build_year'] > 2018)] = buildYearMedian

dfRussianDataUpdated['build_year'].describe()

count    30471.000000
mean      1958.124118
std        218.341256
min          1.000000
25%       1978.000000
50%       1979.000000
75%       1983.000000
max       2018.000000
Name: build_year, dtype: float64

In [78]:
#print(dfRussianDataUpdated.info(15))

dfDataTypes = pd.DataFrame(dfRussianDataUpdated)

dfRussianDataNumeric = dfDataTypes.select_dtypes(['float64','int64'])
    
dfRussianDataCat = dfDataTypes.select_dtypes(['object'])

#Complete PCA to help with eliminating variables 

RussianDataPCA = dfRussianDataNumeric

pca = PCA(n_components=30)

RussianDataPCA_pca = pca.fit(RussianDataPCA).transform(RussianDataPCA) # fit data and then transform it

print (pca.explained_variance_ratio_)

print(pca.components_)

#pca.components_.head()

#df_pca = pd.DataFrame(RussianDataPCA_pca)
#df_pca.to_csv('/users/cmirwin/desktop/Smu Data Sets/Data Mining/RussianData/testout.csv', sep=',')


# Using custom Function from Dr Parson's Unit 3 diminsion reduction example
# this function definition just formats the weights into readable strings
# Updated the Function to have 10 decimal points instead of the 2 from the original
def get_feature_names_from_weights(weights, names):
    tmp_array = []
    for comp in weights:
        tmp_string = ''
        for fidx,f in enumerate(names):
            if fidx>0 and comp[fidx]>=0:
                tmp_string+='+'
            tmp_string += '%.8f*%s ' % (comp[fidx],f[:-5])
        tmp_array.append(tmp_string)
    return tmp_array
  
pca_weight_strings = get_feature_names_from_weights(pca.components_, dfRussianDataNumeric.columns.values) 

print(pca_weight_strings)

# create some pandas dataframes from the transformed outputs
df_pca = pd.DataFrame(RussianDataPCA_pca,columns=[pca_weight_strings])

#output data to a csv file for additional review.
df_pca.to_csv('/users/cmirwin/desktop/Smu Data Sets/Data Mining/RussianData/out.csv', sep=',')

[  9.29108645e-01   5.47067333e-02   1.41731453e-02   1.01443734e-03
   3.66501258e-04   2.58319046e-04   1.67308848e-04   6.82174123e-05
   6.12171864e-05   2.80284667e-05   1.42845361e-05   1.15356694e-05
   9.22364562e-06   5.80423288e-06   4.32109197e-06   1.85770357e-06
   1.76061706e-07   9.92707573e-08   4.55421875e-08   3.35862231e-08
   2.76937108e-08   1.45705624e-08   9.89373167e-09   5.94395167e-09
   1.42344298e-09   1.18704978e-09   9.88103623e-10   7.67324135e-10
   7.14084458e-10   6.19478841e-10]
[[  3.03070648e-05  -1.29845603e-06  -1.35462340e-06 ...,  -2.34922719e-06
   -1.53538604e-06  -3.64217709e-02]
 [ -3.12560749e-04   8.65671771e-06   9.94221345e-06 ...,   8.45376435e-06
    1.14185191e-05  -9.82000038e-01]
 [  3.25148542e-06  -6.76758439e-06  -6.14176888e-06 ...,   8.46714553e-06
   -4.78462256e-06  -1.84554336e-01]
 ...,
 [ -2.48019086e-03  -1.18910132e-04  -6.36996564e-04 ...,  -6.48348537e-04
    2.54503819e-05   6.99107078e-06]
 [  1.46926286e-03   5.11936614e-03   5.73152513e-03 ...,   9.07186942e-03
    4.93328616e-03  -9.31252953e-06]
 [ -2.80567611e-03   4.13955752e-03   3.12235257e-03 ...,   1.28986128e-03
    3.55498705e-03   8.16298153e-06]]